body {
    background-color: #f0f0f0;
}

p {
    color: cyan;
    background-color: black;
}

.important {
    font-weight: bold;
    color: red;
}

#mainHeader {
    color: red;
}

div {
    border: 2px solid black;
}

h1 {
    color: blue;
}

h1 {
    color: blueviolet;
}

#first-list {
    color: red;
}

.important {
    color: coral;
}
/* Order matters. Last design will be applyed to the element. Program does not crash.
Id has higher priotity that class*/

