body {
    padding: 0;
    margin: 0;
    background-color: gray;
}

.header1 {
    background-color: #fff;
    border: none;
    display: flex;
    justify-content: space-between;
    height: 65px;
}

.logo1 {
    display: flex;
    padding: 12px 40px;
}

.search1 {
    display: flex;
    margin-left: 120px;
    width: 352px;
    height: 41px;
    border: 1px solid rgba(223, 223, 223, 1);
    border-radius: 8px;
    align-items: center;
}

.search1 input {
    border: none;
    outline: none;
}

.searchImg1 {
    margin: 12.5px 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 36px;
}

.nav-items {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.nav-items a {
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
}

.active {
    color: rgba(92, 83, 233, 1);
}

.nav-items button {
    width: 121px;
    height: 41px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 8px;
    padding: 12px;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 35px;
    border: none;
    height: 80px;
}

.logo2 {
    width: 40px;
    height: 40px;
    padding: 4px;
    margin-left: 48px;
}

.header2-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav2-items {
    display: flex;
    gap: 48px;
    align-items: center;
    list-style: none;
}

.nav2-items a {
    color: rgba(36, 36, 36, 1);
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px
}

.header2-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
}

.header2-btn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 6px;
}

#sign-In {
    background-color: rgba(92, 83, 233, 1);
    width: 66px;
    height: 40px;
    border: none;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    margin-right: 48px;
}


.header3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: none;
    margin-top: 35px;
    height: 80px;
}

.logo3 {
    width: 113.69999694824219px;
    height: 30px;
    margin-left: 36px;
}

.header3 div {
    width: 24px;
    height: 24px;
    margin-right: 36px;
}

.header5 {
    background-color: rgba(17, 25, 40, 1);
    height: 80px;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.header5-search {
    display: flex;
    align-items: center;
    gap: 50px;
}

.search2 {
    width: 500px;
    height: 44px;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 8px;
}

.search5-img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.search2 input {
    background-color: rgba(17, 25, 40, 1);
    flex: 0 0 90%;
    border: none;
    outline: none;
    margin-left: 20px;
}

.nav5 {
    display: flex;
    align-items: center;
}

.nav5-items {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav5-items a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
        text-decoration: none;
}