body {
    display: flex;
    background-color: #f0f0f0;
    align-items: center;
}/*vertically aligning*/

div {
    width: 400px;
    height: 300px;
    background-color: aqua;
}

img {
    width: 200px;
    height: 150px;
}

.blockToInline {
    display: inline;
    padding: 20px;
    margin: 10px;
}/*Converting block elements to inline*/

.inlineToBlock {
    display: block;
}/*Converting inline elements to block*/