body {
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgba(225, 237, 230, 1);
    width: fit-content;
    padding: 20px 20px 30px;
}

.card__image {
    width: 310px;
    height: 422px;
    margin-bottom: 20px;
}

.card__author {
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 10px;
}

.card__title {
    color: rgba(44, 45, 53, 1);
    font-size: 30px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 8px;
}

.card__subtitle {
    color: rgba(44, 45, 53, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 30px;
}

.card__price {
    color: rgba(89, 141, 102, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 20px;
}

.card__button {
    height: 50px;
    padding: 14.5px 81.5px;
    border: 1px solid rgba(89, 141, 102, 1);
    background: transparent;
    color: rgba(89, 141, 102, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
}

@media (max-width: 1150px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}