body {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card2 {
    display: flex;
    flex-flow: column;
    background-color: rgba(225, 237, 230, 1);
    width: fit-content;
    padding: 20px 20px 30px 20px;
}

.card2 img {
    margin-bottom: 20px;
    width: 310px;
    height: 422px;
}

.author {
    color: rgba(134, 146, 139, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    padding-bottom: 10px;
}

.title2 {
    color: rgba(44, 45, 53, 1);
    font-size: 30px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 8px;
}

.subtitle2 {
    color: rgba(44, 45, 53, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 30px;
}

.price {
    color: rgba(89, 141, 102, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 20px;
}

.btn2 {
    color: rgba(89, 141, 102, 1);
    border: 1px solid rgba(89, 141, 102, 1);
    height: 50px;
    padding: 14.5px 81.5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    background-color: transparent;
}

@media (max-width: 1150px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}