#red {
    color: red;
}

#size {
    font-size: 50px;
}

#centered {
    text-align: center;
}

#bolded {
    font-weight: bold;
}

#divWithImage {
    width: 500;
    height: 400;
    background-image: url(./nature2.jpg);
    overflow: scroll;
}

#divWithText {
    background-color: blueviolet;
    color: white;
    padding: 50px;
    border: 2px solid cyan;
}

#divWithText2 {
    background-color: blueviolet;
    color: white;
    margin: 50px;
    border: 2px solid yellow;
}

#divSize {
    width: 100;
    height: 100;
    background-color: cadetblue;
    overflow: scroll;
}

#divSize2 {
    width: 700;
    height: 500;
    background-color: bisque;
    overflow: auto;
}
