* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #141414;
}

header {
    padding: 40px 50px 10px 50px;
    background-color: #141414;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 160px;
    height: 33px;
}

.menu {
    display: flex;
    gap: 40px;
    list-style: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}

.menu a:hover {
    color: rgba(17, 141, 168, 1);
}

.hero {
    display: flex;
    padding: 50px;
}