* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #141414;
}

header {
    padding: 40px 50px 10px 50px;
    background-color: #141414;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 160px;
    height: 33px;
    padding: 8px 12px;
}

.menu {
    display: flex;
    gap: 40px;
    list-style: none;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}

.menu a:hover {
    color: rgba(17, 141, 168, 1);
}

.hero {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.image0 {
    width: 650px;
    height: 873.4375px;
}

.content {
    max-width: 530px;
    margin-right: 130px;
}

.content h2 {
    color: #fff;
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
    margin-top: 300px;
    margin-bottom: 74px;
}

.content h2 span {
    font-size: 75px;
    font-weight: 400;
}

.content p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 22px;
}

.platforms {
    justify-content: space-between;
    gap: 17px;
    margin-top: 16px;
    margin-left: 22px;
}

.icons {
    width: 32px;
    height: 32px;
    margin-right: 17px;
}

.cards {
    display: flex;
    flex-flow: column;
    gap: 40px;
    padding: 100px 50px 160px 70px;
}

.all-episodes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-episodes div {
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: 400;
    line-height: 79.2px;

}

.button {
    background-color: rgba(17, 141, 168, 1);
    color: #fff;
    padding: 12px 20px 12px 15px;
    border: none;
    height: 51px;
    border-radius: 6px;
}

.cards-div {
    display: flex;
    flex-flow: column;
    gap: 60px;
}

.carts {
    background-color: #000;
    display: flex;
    align-items: center;
    gap: 53px;
    padding: 40px;
    border-radius: 32px;
}

.image {
    display: flex;
    align-items: center;
    width: 389px;
    height: 465px;
}

.badge {
    background-color: rgba(25, 25, 25, 1);
    color: #fff;
    width: fit-content;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    padding: 0px 16px;
    margin-bottom: 48.44px;
}

.episode {
    color: rgba(17, 141, 168, 1);
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 17.56px;
}

.title {
    color: #fff;
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 2.56px;
    margin-bottom: 28px;
}

.subtitle {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 18px;
}

.mentor {
    display: flex;
    flex-flow: column;
}

.mentor-content {
    display: flex;
    justify-content: space-around;
    padding: 100px 50px;
}

.line {
    width: 112px;
    height: 112px;
    background-color: rgba(17, 141, 168, 1);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

.under-arrow {
    color: rgba(17, 141, 168, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 25px;
}

.title-name {
    color: #fff;
    font-size: 65px;
    font-weight: 400;
    line-height: 80px;
    margin-bottom: 28px;
}

.host {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.subscribe {
    padding: 100px 50px;
    /* display: flex; */
}

.form {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 32px;
    padding: 60px;
}


.texts {
    display: flex;
    flex-flow: column;
    gap: 0px;
}

.subscribe-text {
    color: #fff;
    font-size: 72px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 2.88px;
}

.inputs {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.name-txtfield {
    display: flex;
    width: 522px;
    height: 82px;
    background-color: rgba(25, 25, 25, 1);
    border: none;
    color: #fff;
    padding-left: 19px;
    border-radius: 6px;
}

.email-txtfield {
    display: flex;
    width: 522px;
    height: 82px;
    background-color: rgba(25, 25, 25, 1);
    border: none;
    color: #fff;
    padding-left: 19px;
    border-radius: 6px;
}

.inputs button {
    width: 87px;
    height: 48px;
    background-color: rgba(17, 141, 168, 1);
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    font-weight: 700;
    line-height: 28.8px;
    border-radius: 6px;
    border: none;
}

.feedback-section {
    display: flex;
    justify-content: center;
}

.feedback-div {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 100px 50px;
    flex-wrap: wrap;
}

.feedback {
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 423px;
    background-color: #000;
    border: none;
    border-radius: 32px;
    padding: 50px;
}

.comment {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.3px;
}

.author {
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
}

footer {
    padding: 100px 50px;   
}

.footer-div {
    display: flex;
    justify-content: space-around;
}

.footer-logo {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.options {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.options a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

